image: node:18

pipelines:
  default:
    - step:
        name: Build & Deploy
        script:
          - npm ci
          - npm run build
          - pipe: microsoft/azure-static-web-apps-deploy:main
            variables:
              APP_LOCATION: '$BITBUCKET_CLONE_DIR/build'
              OUTPUT_LOCATION: ''
              SKIP_APP_BUILD: 'true'
              API_TOKEN: $deployment_token
